.PortfolioIntroSection h2 {
  color: var(--text-color);
}

.Card {
  transition: 0.6s ease-in-out;
}
.Card:hover {
  transform: translateY(-3%);
}
.cardImage {
  padding: 10px;
  overflow-y: hidden;
  max-height: 200px;
  height: 100%;
}
.cardImage img {
  width: 100%;
  height: auto;
}
.cardBody {
  color: var(--text-color);
}
.cardBody h6 {
  color: var(--text-color-2);
}
.cardBody h5 {
  font-weight: 600;
}
.cardBody p {
  padding: 0 20px;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.underline {
  width: 70px;
  background-color: var(--theme-color);
  height: 2px;
  margin: 10px auto;
}

.link {
  width: 150px;
  margin-top: 20px;
  padding: 8px;
}
