.projectInfoSection p {
  text-transform: initial;
}

.projectImageContainer {
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 6px 6px 12px var(--shadow-out), -6px -6px 12px var(--shadow-in) !important;
  display: grid;
  place-items: center;
  cursor: pointer;
  scroll-behavior: smooth;
  padding: 10px;
  border-radius: 5px;
}
.projectImageContainer .projectImageLink {
  width: 100%;
  height: 400px;
  margin: 30px auto !important;
  overflow-y: scroll;
}
.projectImageContainer .projectImageLink .projectImage {
  width: 100%;
  height: auto;
  transition: 10s all ease;
}
/* .projectImageContainer:hover .projectImage {
  transform: translateY(-80%);
} */
/* scrollBar */
.projectImageLink::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
  scroll-behavior: smooth;
}

.projectImageLink::-webkit-scrollbar-track {
  background: rgb(218, 218, 218); /* color of the tracking area */
}

.projectImageLink::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);

  border-radius: 0px; /* roundness of the scroll thumb */
  box-shadow: 6px 6px 12px var(--shadow-out), -6px -6px 12px var(--shadow-in) !important;
}
.projectImageLink::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color); /* color of the scroll thumb */
}

.projectInfoSection div {
  color: var(--text-color);
}
.projectDetails {
  background-color: var(--main-color);
  box-shadow: 6px 6px 12px var(--shadow-out), -6px -6px 12px var(--shadow-in) !important;
}
.projectDetailsDescription {
  background-color: var(--main-color);
  box-shadow: inset 2px 2px 3px var(--shadow-out),
    inset -5px -5px 7px var(--shadow-in) !important;
  border-radius: 5px;
}
.projectDetailsTools {
  display: flex;
  flex-wrap: wrap;
}
.projectDetailsTools p {
  margin: 5px;
  background-color: var(--main-color);
  box-shadow: inset 2px 2px 3px var(--shadow-out),
    inset -5px -5px 30px var(--shadow-in) !important;
  color: var(--text-color);
  padding: 5px 30px;
  border-radius: 20px;
}
.buttons {
  display: flex;
}
.buttons a {
  font-size: 1.1rem;
}

@media screen and (max-width: 570px) {
  .projectImageContainer {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 370px) {
  .buttons {
    display: block;
  }
  .buttons a {
    width: 100%;
    margin-top: 10px;
  }
}
