/* .imgContainer {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  padding: 15px;
  border-radius: 5px;
} */
.homeButtonContainer {
  display: flex;
}
.homeButton {
  width: 150px;
  word-wrap: normal;
  margin-right: 20px;
  margin-top: 20px;
}
.workingImage {
  width: 100%;
  height: auto;
}

.homeContainer {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.homeContent {
  margin: 120px 0 0;
}
.homeContent h5 {
  color: var(--text-color-2);
}
.homeContent h5:first-child {
  color: var(--theme-color);
}

.homeContent h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color);
}
.imgContainer {
  width: 100%;
  height: auto;
  /* border: 1px solid var(--border-color); */
  border-radius: 5px;
  padding: 20px;
}
@media screen and (max-width: 991px) {
  .homeContent {
    margin: 20px auto 0;
    text-align: left;
  }
  .homeButtonContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
}
