/* Check App.css for more Contact component Styles (global styles for Contact Component) */
.contactSection {
  height: 100%;
  min-height: 88vh;
}

.col1 {
  z-index: 55;
  background-color: var(--main-color);
}
.label {
  color: var(--text-color);
}
.input,
.input:focus {
  text-transform: lowercase;
}
.contactIcons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--main-color);
  box-shadow: inset 2px 2px 3px var(--shadow-out),
    inset -3px -3px 7px var(--shadow-in) !important;
  margin: 30px auto;
  padding: 45px 0;
}
.sidebar {
  margin-left: 25px;
  background-color: var(--main-color);
  position: relative;
}
.navItem {
  position: relative;
  list-style: none;
}
.navItem:not(:last-child) {
  margin-bottom: 20px;
}
.navLink {
  text-decoration: none;
  font-size: 25px;
}
.navLink i {
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 6px 6px 12px var(--shadow-out), -6px -6px 12px var(--shadow-in) !important;
  color: var(--text-color);
  border-radius: 5px;
  transition: all 0.3s;
  z-index: 5;
}
.navLink .title {
  position: absolute;
  left: 66px;
  background-color: var(--main-color);
  box-shadow: 6px 6px 12px var(--shadow-out), -6px -6px 12px var(--shadow-in) !important;
  font-size: 1.1rem;
  height: 100%;
  padding-left: 20px;
  line-height: 60px;
  transform: scale(0%);
  transition: all 0.5s;
  color: var(--text-color);
  border-radius: 5px;
  transition: all 0.3s;
  word-wrap: normal;
  word-break: keep-all;
  width: max-content;
  padding-right: 20px;
}
.navItem:hover i {
  color: var(--theme-color);
  transform: scale(1.1);
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
  background-color: var(--main-color);
  box-shadow: inset 2px 2px 3px var(--shadow-out),
    inset -3px -3px 7px var(--shadow-in) !important;
}
/* 
.navItem:hover i {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
} */
.navItem:hover .title {
  transform: scale(100%);
  box-shadow: inset 2px 2px 3px var(--shadow-out),
    inset -3px -3px 7px var(--shadow-in) !important;
}
/* 
.contactIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.contactIcons a span {
  position: relative;
  top: 10px;
  left: 30px;
}

.contactIcons a {
  display: grid;
  place-items: center;
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 6px 6px 12px var(--shadow-out), -6px -6px 12px var(--shadow-in) !important;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-left: 20px;
  transition: 0.5s;
}
.contactIcons a i {
  font-size: 1.3rem;
}
.contactIcons a:hover {
  transform: scale(1.1);
  color: var(--theme-color);
} */
